@if (isLoading) {
    <mat-spinner> </mat-spinner>
} @else { @if (errorMessage) {
    <p>{{ errorMessage }}</p>
} @else {
    <h2>{{ course?.name}}</h2>>
    <h4>Profesores:</h4>

    <mat-list>
        @for (teacher of course?.teachers; track $index) {
            <mat-list-item>{{ teacher.name }}</mat-list-item>
        }
    </mat-list>
    <h4>Estudiantes Inscritos:</h4>

    <mat-list class="col-6">
        @for (student of course?.students; track $index) {
            <mat-list-item class="col-3">{{ student.name }} <button mat-flat-button (click)="onRemoveStudent(student.id)" class="col-2 justify-content-end">Desinscribir</button></mat-list-item>
            

        }
    </mat-list>
} } 