  <!--CONTENEDOR-->
<mat-drawer-container class="example-container" autosize>
      <!--SIDDEBAR FIN-->
    <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
      <app-nav-menu />
    </mat-drawer> 
  <!--SIDDEBAR FIN-->
  <!--CONTENIDO-->
    <div class="example-sidenav-content">
      <app-toolbar (drawerToggle)="drawer.toggle()" />
      <main style="padding: 1rem">
        <router-outlet />
      </main>
    </div>
  <!--CONTENIDO-->
  </mat-drawer-container>
    <!--CONTENEDOR FIN-->